/* landing page */
.landing-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease;
}

.login-btn {
  background-color: #007bff;
  color: white;
}

.signup-btn {
  background-color: #28a745;
  color: white;
}

.btn:hover {
  opacity: 0.85;
}

/* LOGIN  */

.login-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-image {
  background: url("./assets/sunset.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.form-overlay {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6); /* transparent black overlay */
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
/* signup */

.signup-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-image {
  background: url("../assets/signup-bg.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.form-overlay {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6); /* transparent black overlay */
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

/* login shimmer  */

.rotate-loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* signup shimmer  */
.rotate-loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
